#menu-0 .navbar-toggler {
  color: #000;
}
#slider-1 H2 {
  color: #000000;
}
#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
}
